* {box-sizing: border-box}

header h1 {
            background-image: url("/Images/V838 Mon 2.jpg");
            width: 100%;
            height: 300px;
            padding: 120px;
           }

nav li {
        background-color: red;
        }

nav li:hover {
              background-color: blue;
              }
